<nav class="nav color-nav">
    <a class="nav-link text-color" href="/">Thêm</a>
    <a class="nav-link text-color" href="/sua">Sửa</a>
    <a class="nav-link text-color" href="/xoa">Xóa</a>
    <a class="nav-link text-color" href="/xem">Xem</a>
</nav>